@import "FoodApp.css";

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadow-drop-2-tr {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px) translateX(-12px) translateY(12px);
    box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-bl {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    transform: translateZ(50px) translateX(12px) translateY(-12px);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shadow-drop-bl {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@font-face {
  font-family: raleway;
  src: url("../fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: raleway-light;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: raleway-medium;
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: messysmil;
  src: url("../fonts/MessySmilingCactusRegular-6rY1.ttf");
}

.main-text {
  font-size: 5rem;
  text-align: center;
  color: red;
  width: 100%;
  font-family: raleway;
}

.main-text:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card {
  position: relative;
  grid-column: 2 / 3;
  background-image: url("../img/food2.jpeg");
  border-radius: 26px;
  padding: 10px;
  width: 480px;
  height: 480px;
  animation: shadow-drop-2-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card:hover {
  transform: translateY(20px);
}
.card:hover:before {
  opacity: 60%;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 26px;
  background: red;
  transition: 0.5s;
  opacity: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  position: absolute;
  top: 12rem;
  left: 4rem;
  color: white;
  font-size: 1.3rem;
  width: 80%;
  font-family: raleway-medium;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 8px;
}

.floated-card {
  position: absolute;
  top: 3rem;
  right: 0;
  background: red;
  width: 150px;
  height: 35px;
}

.floated-card > h1 {
  position: absolute;
  top: -8px;
  left: 32px;
  font-size: 1.2rem;
  font-family: raleway-light;
  color: white;
}

.floated-card > div {
  position: absolute;
  top: -10px;
  left: -30px;
  z-index: 1;
}

.footer-card {
  position: absolute;
  bottom: -24px;
  left: 30px;
  width: 88%;
  height: 50px;
  background: red;
  border-radius: 16px;
}

.footer-card > h1 {
  color: white;
  font-size: 1.2rem;
  font-family: raleway-medium;
}

.costillas {
  position: absolute;
  left: 40px;
}

.salsa-limon {
  position: absolute;
  right: 40px;
}

.rhombus_icon {
  position: absolute;
  left: 50.8%;
  top: 1.2rem;
  fill: white;
  filter: white;
}

.text-container {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2;
  padding: 30px;
  z-index: 0;
}

.text-info > h1 {
  font-family: raleway-light;
  font-size: 1rem;
  font-weight: bold;
}

.price-order {
  font-family: raleway-medium;
}

.price-order > button {
  position: absolute;
  right: 50px;
  border-radius: 8px;
  width: 120px;
  height: 45px;
  border: 1px solid white;
  background-color: red;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.price-before {
  position: absolute;
  left: 30px;
  color: red;
}

.price-now {
  position: absolute;
  left: 160px;
  font-weight: bold;
  font-size: 1.3rem;
}

.pedir-text {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-decoration: inherit;
}

.v-line {
  position: absolute;
  bottom: 3px;
  height: 30px;
  left: 145px;
  border-left: thick solid red;
}
